.git
.pnpm-store
**/.pnpm-store
**/node_modules
**/.next
**/dist
**/.env
**/.env.*
!**/.env.example
admin
web
.cursor
mobile/.expo
mobile/dist
mobile/google-services.json
mobile/GoogleService-Info.plist
**/.DS_Store
**/*.tsbuildinfo
